<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

     <event name="catalog_controller_category_init_after">
        <observer name="Sunflowerbiz_CategoryInitObserver" instance="Sunflowerbiz\CategoryPassword\Observer\CategoryInitObserver" />
    </event>
	
	  <event name="catalog_controller_product_init_after">
        <observer name="Sunflowerbiz_ProductInitObserver" instance="Sunflowerbiz\CategoryPassword\Observer\ProductInitObserver" />
    </event>
	
	
</config>