<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="200">
            <label>Magenest</label>
        </tab>
        <section id="qbonline" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>QuickBooks Online Config</label>
            <tab>magenest</tab>
            <resource>Magenest_QuickBooksOnline::config_qbonline</resource>
            <group id="quickbooks_stock" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Stock Update</label>
                <field id="build_indexes" translate="label comment tooltip" type="button" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Synced Products Stocks</label>
                    <frontend_model>Dulshan\QuickBooksOnline\Block\System\Config\Form\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
